html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui;
  width: 100vw;
  height: 100vh;
  /* background: hsl(40, 100%, 96.5%); */
  background: var(--colors-plum4);
  background-image: url('grid.svg');
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

svg {
  display: block;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--colors-plumA2);
  }
} */
